<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
	<title>AirTweet</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	<div id="header">
		<a href="/">Home</a><a href="/about">About</a><a href="/help">Help</a><a href="#">Source</a>
		<h1>AirTweet</h1>
		<p>A gtalk robot for twitter</p>
	</div>
	<div id="main">
		<p>
			I'm samsam,who is liveing in a beautiful place with fucking internet.
		</p>
		<p>
			When I surf the internet,I need to climb a high mountain called GFW.
			So,It's difficult for me to visit twitter,but not too difficult, I can
			fuck it.
		</p>
		<p>
			AirTweet is written for fuck the GFW exactly.After signing in your google
			account and authenticating your twitter account,you can use the AirTweet Robot
			to visit your tweets.
		</p>
		<p>
			At last,fuck GFW again.
		</p>
	</div>
	<div id="footer">
	</div>
</body>
</html>