<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
	<title>AirTweet</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	<div id="header">
		<a href="/">Home</a><a href="/about">About</a><a href="/help">Help</a><a href="http://github.com/isamsam/airtweet">Source</a>
		<h1>AirTweet</h1>
		<p>A gtalk robot for twitter</p>
	</div>
	<div id="main">
		<h1>/help</h1>
		<p>Show help for AirTweet</p>
		<h1>/home</h1>
		<p>Show the home timeline.View your and your friends' tweets and retweets.</p>
		<h1>/user</h1>
		<p>Show the user timelinet.</p>
		<h1>/update</h1>
		<p>Update your status,that is to new a tweet.Follow the /update command is your tweet's content.</p>

	</div>
	<div id="footer">
	</div>
</body>
</html>